mat-grid-tile {
    margin: 50px;
  }

  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .toolbar {
      margin-bottom: 20px;
  }

.content {
    margin-top: 1%;
}

.mat-grid-tile {
    width: 400px;
}